body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100 - 1000;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.main-layout {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1.3fr 4fr;
  grid-template-areas:
    "sidebar header"
    "sidebar main";
}
.sidebar {
  background-color: #1992d4;
  grid-area: sidebar;
  color: white;
}
.nav-gird {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr 4fr;
  gap: 35px 0px;
  grid-template-areas:
    "dash-icon dash-titles"
    "pages pages"
    "manage manage";

  /* justify-items: center; */
  /* align-items: center; */
}
header {
  background-color: orange;
  grid-area: header;
}
main {
  background-color: blue;
  grid-area: main;
}
.dash-icon {
  grid-area: dash-icon;
  font-size: 40px;
  justify-self: start;
  align-self: center;
  margin-left: 7px;
}
.dash-titles {
  grid-area: dash-titles;
  justify-self: start;
  align-self: center;
}

/* .justify {
  justify-self: start;
} */

.manage {
  grid-area: manage;
}
.pages {
  grid-area: pages;
}

.item {
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  justify-items: start;
}
.mdi{
    justify-self: center;
    
}
.item p{
  margin-left: 20px;
}
.item i{
  font-size: 18px;
}
.manage-item{
  grid-template-rows: 40px 40px;
}

.manage p:last-of-type,
.manage i:last-of-type{
  align-self: start;
  
}
.mdi-shield-check{
  margin-top: 15px;
}